<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>CuentaCookie</servlet-name>
        <servlet-class>CuentaCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CuentaCookie</servlet-name>
        <url-pattern>/CuentaCookie</url-pattern>
    </servlet-mapping>
</web-app>