/java/Redes2/actividades/3CV18_A7_GonzalezBarrientos_GeovanniDaniel/target/
/java/Redes2/practicas/3CV18_L4_GonzalezBarrientos_GeovanniDaniel/target/
/java/Redes2/practicas/PracticaCarrito/nbproject/private/
/java/Redes2/practicas/PracticaCarrito/build/
